@import '../../styles/vars';
@import '../../styles/mixins';

.timepicker {
  display: flex;
	justify-content: space-around;
	align-items: center;

	width: 100%;
	max-width: 100px;
	padding: 10px 10px;
  margin: 0 5px 5px 5px;

	font-size: 1.2rem;
	font-weight: 700;

	user-select: none;

  &__hour,
  &__minute {
    position: relative;
    min-width: 40px;
    text-align: center;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
  }

  &__hr, 
  &__min {
    background: none;
    font-size: 1.2rem;
    appearance: none;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    text-align: center;
  }

    &__hr-up,
    &__hr-down,
    &__min-up,
    &__min-down {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    
      width: 20px;
      height: 10px;
    
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    
      cursor: pointer;
    }

    &__hr-up,
    &__min-up {
      top: -10px;
      border-bottom: 10px solid $text;
    }

    &__hr-down,
    &__min-down {
      bottom: -10px;
      border-top: 10px solid $text;
    }

    &__hr-up:hover,
    &__hr-down:hover,
    &__min-up:hover,
    &__min-down:hover {
      border-bottom-color: $frame;
      border-top-color: $frame;
    }

}