// Measures
$spacer: 16px; // x1.5 = 24px, x2 = 32px

// Colours
$background: 	hsl(47, 100%, 63%);
$background-light: hsla(47,100%,63%,0.2);
$text: hsl(0,0%,0%);
$frame: hsl(0,0%,100%);
$booking-details: hsl(234,96%,40%);
$text-footer: hsl(0,0%,40%);
$inactive: hsla(0,0%,0%, 0.1);
$input: hsla(0,0%,100%, 0.8);
$modal-background: hsla(0, 0%, 0%, 0.4);
$mandatory: hsla(360, 100%, 42%, 1);
$white: hsl(0,0%,100%);

// Screens
$mobile: 420px;
$tablet: 768px;
