@import '../../styles/vars';
@import '../../styles/mixins';

.menu {
  @include flexCenter(flex-start, center, column);
  position: fixed;
  // position: absolute;
  background: linear-gradient(160deg, $background 20%, $white 130%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  overflow-y: scroll;

}

// Desktop
@media only screen and (min-width: $mobile) {
  .menu {
    // Fond noir transparent
    background: $modal-background;
    z-index: 1;

    // Fenêtre modale
    &__modal {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      z-index: 50;
      background: linear-gradient(160deg, $background 20%, $white 130%);
      border-radius: 8px;
      border: 1px solid $text;
      padding: $spacer;
    }
  }
}