@import '../../../styles/vars';
@import '../../../styles/mixins';

.trip {
  @include flexCenter(space-between, center, row);
  margin-bottom: $spacer;
  width: 100%;

  &__frame {
    @include flexCenter(space-between, center, column);
    max-width: 80px;
    height: 80px;
    border: solid $frame 1px;
    border-radius: 8px;
    padding: 4px;
    flex: 1;

    &__date {
      font-size: 0.9rem;
      font-weight: 700;
    }

    &__transport {
      @include flexCenter(center, center, column);
      
      &__name {
        font-size: 0.6rem;
        font-weight: 400;
        text-align: center;
      }
    }

    &__details {
      font-size: 0.7rem;
      font-weight: 400;
      color: $booking-details;
      text-align: center;
    }
  }

  &__middle_arrows {
    position: absolute;
  }

  &__middle {
    @include flexCenter(space-around, flex-start, row);
    padding-left: 2px;
    padding-right: 2px;
    flex: 1;

    &__timetable {
      @include flexCenter(space-between, center, column);
      height: 64px;
      min-width: 80px;
      max-width: 90px;

    }

    &__time {
      font-size: 0.9rem;
      font-weight: 700;
      text-align: center;
    }

    &__city {
      font-size: 0.9rem;
      font-weight: 400;
      text-align: center
    }

    // Hotel
    &__stay-label {
      font-size: 0.7rem;
      margin-bottom: 3px;
    }

    &__stay {
      font-size: 1rem;
      border: 1px solid $text;
      padding: 6px;
      border-radius: 3px;
    }
  }
}

.details {
  @include flexCenter(center, center, column);
}

// Hotel
.hide {
  display: none;
}

.center {
  @include flexCenter(center, center, column);
}

// Date in the past
.inactive {
  background-color: $inactive;
}