@import '../../styles/vars';
@import '../../styles/mixins';

.header {

  &__block {
    @include flexCenter(space-between, center, row);

    &__link {
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .header {
    max-width: 1200px;
  }
}