@import '../../styles/vars';
@import '../../styles/mixins';

.create {

  &__form {
    @include flexCenter(flex-start, flex-start, column);
    min-width: 350px;
    margin-top: $spacer*1.5;
    margin-bottom: $spacer*2;

    &__journey-name {
      font-weight: 700;
      margin-bottom: 4px;

      &__input {
        width: 350px;
      }
    }

  }
}